.menu-container {
    width: 7rem;
    height: 10.5rem;
    position: absolute;
    top: 10px;
    right: 0;
    border-radius: 6px;
    border: 1px var(--secondary-color) solid;
    z-index: 9;
}

.inner {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 10px;
}

.close-button svg {
    color: #333;
}

.profile {
    text-align: center;
    line-height: 1.3;
}

.profile p:first-child {
    font-size: .9rem;
}

.profile p:last-child {
    font-size: .7rem;
}

@media (min-width: 768px) {
    .menu-container {
        width: 11rem;
        height: 16rem;
        border-radius: 8px;
    }

    .profile p:first-child {
        font-size: 1.5rem;
    }

    .profile p:last-child {
        font-size: 1rem;
    }
}