.container {
    width: 14rem;
    height: 18rem;
    position: absolute;
    top: 10px;
    right: 0;
    border-radius: 8px;
    border: 1px var(--secondary-color) solid;
    z-index: 9;
}

.inner {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.close-button svg {
    color: #333;
}

.profile {
    text-align: center;
    line-height: 1.3;
}

.profile p:first-child {
    font-size: 1.5rem;
}