.wip-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.wip-container::before {
    content: "";
    position: absolute;
    top: 3rem;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("/images/home/background.png");
    background-repeat: no-repeat;
    background-size: 30rem;
    background-position: top;
    opacity: .06;
    z-index: -1;
}

.inner {
    margin-top: 13rem;
    text-align: center;
}

.discription-title {
    font-Size: 1.5rem;
}

.discription-detail {
    font-Size: 1.0rem;
    margin-bottom: 1.5rem;
}

.portfolio-info {
    margin-top: 1.0rem;
}

.notice {
    font-Size: .9rem;
}

.contact {
    font-Size: .8rem;
    margin: .5rem 0 .8rem;
}

@media (min-width: 768px) {
    .wip-container::before {
        top: 0;
        background-size: 45rem;
    }

    .inner {
        margin-top: 15rem;
    }

    .discription-title {
        font-Size: 2.5rem;
    }

    .discription-detail {
        font-Size: 1.8rem;
        margin-bottom: 2rem;
    }

    .portfolio-info {
        margin-top: 2.5rem;
    }

    .notice {
        font-Size: 1.5rem; 
    }

    .contact {
        font-Size: 1rem;
        margin: .5rem 0 1.0rem;
    }
}