.wip-container {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.wip-container::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("/images/background.png");
    background-repeat: no-repeat;
    background-size: 45rem;
    background-position: top;
    opacity: .06;
    z-index: -1;
}

.inner {
    margin-top: 20rem;
    text-align: center;
}

.discription-title {
    font-Size: 2.5rem;
}

.discription-detail {
    font-Size: 1.8rem;
    margin-bottom: 2rem;
}

.portfolio-info {
    margin-top: 2.5rem;
}

.notice {
    font-Size: 1.5rem; 
}

.contact {
    font-Size: 1rem;
    margin-top: .5rem;
}