.button {
    color: #FFF;
    font-size: 11px;
    background-color: var(--primary-main);
    box-shadow: 0 5px 10px rgba(79, 70, 229, 0.3);
    border-radius: 999px;
    cursor: pointer;
    width: 6rem;
    height: 1.7rem;
    /* width: 100px;
    height: 30px; */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease;
}

.button:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 15px rgba(79, 70, 229, 0.4);
}

.button:active {
    transform: translateY(1px);
    box-shadow: 0 4px 10px rgba(79, 70, 229, 0.3);
}

.main-btn {
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    width: 11rem; 
    height: 2.3rem;
    margin-top: 1.5rem;
}

.nav-button {
    color: #FFF;
    font-size: 13px;
    background-color: var(--secondary-main);
    border-radius: 999px;
    cursor: pointer;
    width: 5rem;
    height: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-button.active {
    background-color: var(--primary-main);
}

.btn-detail {
    font-weight: 600;
    color: var(--primary-main);
    background: none;
}

.btn-detail:hover {
    text-decoration: underline;
}

.has-icon {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: var(--btn-w, 1.8rem) .9fr;
}

.btn-img {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 22px;
    aspect-ratio: 1 / 1;
}

.link-btn-404 {
    height: 2.6rem;
}

.link-home {
    background-color: #FFF;
    color: var(--primary-main);
    border: 1px solid var(--primary-main);
    width: 6rem;
}

.link-main {
    width: 10rem;
}

.is-reverse {
    background: #FFF;
    color: var(--primary-main);
    border: 1px solid var(--primary-main);
}

.cta-button {
    width: fit-content;
    height: fit-content;
    gap: 8px;
    padding: .8rem 1.4rem;
    border-radius: 999px;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    background: linear-gradient(135deg, var(--primary-main), var(--primary-light));
    grid-template-columns: 1fr var(--btn-w, 1.8rem); 
}

.cta-button .btn-img {
    grid-row: 1;
    grid-column : 2;
    transition: transform 0.2s ease;
}

.cta-button:hover .btn-img {
    transform: translateX(4px);
}

.cta-button p {
    grid-row: 1;
    grid-column: 1;
}

.oriented {
    width: 2.2rem;
    height: 1.3rem;
    border: none;
}

.cta-sub-style {
    padding: .6rem 1.4rem;
}

.view-hide {
    width: max-content;
    height: max-content;
    box-shadow: none;
    font-size: 11px;
    border: none;
    border-radius: initial;
    grid-template-columns: max-content var(--btn-w, 1rem);
    background-color: initial;
}

.view-hide:hover {
    transform: none;
    box-shadow: none;
}

.view-hide .btn-img {
    grid-row: 1;
    grid-column : 2;
}

.view-hide p {
    grid-row: 1;
    grid-column: 1;
}

.view-hide.all {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    font-size: 14px;
}

.card-cta-button { 
    font-size: 13px;
    padding: .6rem 1.2rem;
    color: var(--primary-main); 
    background: linear-gradient(135deg, #FFFFFF, var(--secondary-main));
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.15), 
                0 2px 5px rgba(0, 0, 0, 0.2);
}

.card-cta-button:hover {
    background: linear-gradient(135deg, var(--secondary-main), var(--secondary-dark));
}

.card-cta-sub-style {
    padding: .5rem 1.1rem;
}

.is-wide {
    width: auto;
}

.card-no-text-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-no-text-button p {
    display: none;
}

.card-oriented {
    width: fit-content;
    background: none;
    box-shadow: none;
}

.is-hidden {
    display: none;
}

.card-btn-img {
    max-width: 18px;
}

@media (min-width: 768px) {
    .button {
        font-size: 18px;
        width: 8.7rem;
        height: 2.4rem;
    }

    .main-btn {
        font-size: 26px;
        border-radius: 8px;
        width: 17.9rem; 
        height: 3.6rem;
        margin-top: 2rem;
    }

    .nav-button {
        font-size: 18px;
        width: 8rem;
        height: 2.2rem;
    }

    .is-img {
        grid-template-columns: var(--btn-w, 2.5rem) 1fr;
    }

    .btn-img {
        max-width: 30px;
    }

    .link-btn-404 {
        height: 3rem;
    }

    .link-home {
        width: 9rem;
    }

    .link-main {
        width: 14rem;
    }

    .cta-button {
        width: 22rem;
        height: 4rem;
        font-size: 20px;
    }

    .oriented {
        width: 3.8rem;
        height: 1.8rem;
        font-size: 14px;
        padding: .2rem .4rem;
    }

    .cta-sub-style {
        padding: .4rem 1.4rem;
        width: 14rem;
        height: 3.5rem;
        font-size: 18px;
    }

    .view-hide {
        width: max-content;
        height: max-content;
        font-size: 16px;
        grid-template-columns: max-content var(--btn-w, 1.4rem);
    }

    .view-hide.all {
        font-size: 18px;
        grid-template-columns: max-content var(--btn-w, 1.6rem);
    }

    .card-cta-button {
        width: clamp(238px, 15.61vw, 290px);
        font-size: 18px;
        padding: .8rem 1.4rem;
    }

    .card-cta-sub-style {
        width: clamp(190px, 12.46vw, 220px);
        font-size: 16px;
        height: 3rem;
        padding: .4rem 1.4rem;
    }

    .card-no-text-button {
        width: clamp(78px, 5.118vw, 90px);
        height: 2rem;
    }

    .card-oriented {
        width: 1.4rem;
        padding: 0;
    }
}