.certificate-item {
    border: 1px solid var(--primary-color);
    background-color: #fff;
    width: 15rem;
    height: 8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: .4rem;
    padding-right: .8rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
}

.certificate-item__name {
    font-size: 18px;
    font-weight: 600;
}

.certificate-item-mid {
    font-size: 14px;
}