.main-page-headline {
    width: 11.5rem;
    margin: 2.5rem 1.5rem .5rem;
    font-size: 14px;
    line-height: 1.6;
}

.headline-content {
    /* margin: .2rem 1.5rem; */
    /* line-height: 0; */
}

.main-page-projects {
    margin: 6rem 0;
}

.main-page-projects hr {
    color: var(--secondary-color);
    margin: 1rem 0 1.5rem;
}

@media (min-width: 768px) {
    .main-page-headline {
        width: 24rem;
        font-size: 28px;
    }

    .headline-content {
        /* margin: .5rem 2rem; */
    }
}

@media (min-width: 1024px) {
    .main-page-headline {
        width: 100%;
    }
    
    .main-page-projects hr {
        margin: 2rem 0 2.5rem;
    }
}