.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("/images/home/background.png");
    background-repeat: no-repeat;
    background-size: 45rem;
    background-position: top;
    opacity: .06;
    z-index: -1;
}

.main-title {
    margin: 10rem 0 3.5rem 0;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--primary-color);
}

.phrase {
    width: 35rem;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 2rem 0;
}

.phrase p:nth-child(2n) {
    text-align: right;
}

.phrase p:last-child {
    text-align: right;
}

.skill-images {
    margin-top: 10rem;
}