.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.home-container::before {
    content: "";
    position: absolute;
    top: 3rem;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("/images/home/background.png");
    background-repeat: no-repeat;
    background-size: 30rem;
    background-position: top;
    opacity: .06;
    z-index: -1;
}

.main-title {
    margin: 9rem 0 1.6rem;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-color);
}

.phrase {
    width: 22rem;
    font-size: .9rem;
    font-weight: bold;
    margin: 1.4rem 0;
}

.phrase p:nth-child(2n) {
    text-align: right;
}

.phrase p:last-child {
    text-align: right;
}

.skill-images {
    width: 100%;
    margin: 6rem 0 3rem;
}

@media (min-width: 768px) {
    .home-container::before {
        top: 0;
        background-size: 45rem;
    }

    .main-title {
        margin: 10rem 0 3.5rem;
    }

    .title {
        font-size: 2.5rem;
    }

    .phrase {
        width: 35rem;
        font-size: 1.2rem;
        margin: 2rem 0;
    }

    .skill-images {
        margin: 10rem 0 6rem;
    }
}