.card {
    width: clamp(300px, 75vw, 360px);
    aspect-ratio: 11 / 16;
    perspective: 1200px;
    cursor: pointer;
    overflow: visible;
}

.card::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 10%;
    width: 80%;
    height: 20px;

    background: radial-gradient(
            ellipse,
            rgba(0, 0, 0, 0.6),
            transparent
    );

    filter: blur(8px);
    opacity: .6;

    transition: all .8s cubic-bezier(.24, 1.56, .64, 1);
}

.card:active::after {
    transform: scaleY(1.8);
    opacity: 1;
}

/* .card:not(:has(.flipped))::after {
  animation: shadowHint 5s ease-in-out infinite;
} */

/*.card:hover .hint-active {*/
/*    animation: hoverHint .6s ease-in-out infinite alternate;*/
/*}*/

/* =========================
   Card Container
========================= */
.wrapper {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.wrapper:not(:has(.flipped)) {
    animation: hint 5s ease-in-out infinite;
}

.inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;

    transition: transform .8s cubic-bezier(.24, 1.56, .64, 1);
    will-change: transform;
}

@keyframes hint {
    0% {
        transform: rotate3d(1, 1, 0, 0deg);
    }
    12% {
        transform: rotate3d(1, 1, 0, 15deg);
    }
    24% {
        transform: rotate3d(1, 1, 0, 0deg);
    }
    100% {
        transform: rotate3d(1, 1, 0, 0deg);
    }
}

/* @keyframes hoverHint {
    0% {
        transform: rotate3d(1, 1, 0, 0deg);
    }
    100% {
        transform: rotate3d(1, 1, 0, 12deg);
    }
} */

/* @keyframes shadowHint {
  0% { 
    opacity: 0.6; 
    transform: scale(1); 
  }
  12% { 
    opacity: 0.3;
    transform: scale(1.2) translateY(8px);
    filter: blur(12px);
  }
  24% { 
    opacity: 0.6; 
    transform: scale(1); 
    filter: blur(8px);
  }
  100% { 
    opacity: 0.6; 
    transform: scale(1); 
  }
} */

/* =========================
   Common
========================= */
.face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;

    border-radius: 16px;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;

    transition: transform .8s cubic-bezier(.24, 1.56, .64, 1);
    will-change: transform;
}

.card-outline {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
}

/* =========================
   Card Front
========================= */
.front {
    background: linear-gradient(
            135deg,
            var(--primary-main),
            var(--primary-light)
    );
    color: var(--secondary-main);

    transform: rotate3d(1, 1, 0, 0deg);
}

.flipped .front {
    transform: rotate3d(1, 1, 0, 180deg);
}

.profile-section {
    width: 75%;
    height: 85%;
    display: flex;
    flex-direction: column;
        justify-content: space-evenly;
}

.personal-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name-section {
    position: relative;
}

.name-kr {
    font-size: 24px;
}

.name-en {
    /*font-size: 12px;*/
}

.profile-image {
    position: absolute;
    top: 5%;
    right: 0;
}

.job-section {
    font-size: 14px;
    margin-top: .2rem;
}

.summary-section {
    font-size: 12px;
    margin-top: .6rem;
}

.highlight {
    font-size: 16px;
    font-weight: 600;
}

.qr-section {
    display: none;
    margin-top: 1rem;
}

/* =========================
   Card Back
========================= */
.back {
    background: linear-gradient(
            135deg,
            var(--primary-light),
            var(--primary-main)
    );
    color: var(--secondary-main);

    transform: rotate3d(1, 1, 0, -180deg) translateZ(1px);
}

.flipped .back {
    transform: rotate3d(1, 1, 0, 0deg) translateZ(1px);
}

.main-button-section {
    display: flex;
    flex-direction: column;
    gap: .6rem;
}

@media (min-width: 768px) {
    .card {
        width: clamp(610px, 40vw, 710px);
        aspect-ratio: 16 / 11;
    }

    .profile-section {
        width: 90%;
        flex-direction: row;
        align-items: center;
    }

    .personal-image {
        margin: 0;
        padding: 0 1.2rem;
    }

    .content-section {
        margin: .8rem;
    }

    .name-kr {
        font-size: 30px;
    }

    .profile-image {
        top: 15%;
    }

    .job-section {
        font-size: 16px;
        margin-top: .4rem;
    }

    .summary-section {
        font-size: 14px;
        margin-top: 1.2rem;
    }

    .highlight {
        font-size: 18px;
    }

    .qr-section {
        display: block;
    }

    .main-button-section {
        gap: clamp(2rem, 2.0985vw, 3rem);
    }
}