.academic-item {
    border: 1px solid var(--primary-color);
    background-color: #fff;
    width: 14rem;
    height: 7.2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: .4rem;
    padding-right: .8rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.academic-item__duration {
    font-size: 14px;
}

.academic-item__name {
    font-size: 16px;
    font-weight: 600;
}

.academic-item__major {
    font-size: 14px;
}

@media (min-width: 768px) {
    .academic-item {
        width: 15rem;
        height: 7.7rem;
        margin-right: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .academic-item__duration {
        font-size: 16px;
    }

    .academic-item__name {
        font-size: 18px;
    }

    .academic-item__major {
        font-size: 16px;
    }
}