@import "tailwindcss";

:root {
    --primary-color: #B92134;
    --secondary-color: #F6CED3;
    --arrow-size-mo: 26px;
    --arrow-size-ta: 48px;
    --projects-wrapper-gap-mo: .3rem;
    --projects-wrapper-gap-ta: .6rem;
}

html {

}

body {
    /* padding: 0; */
    font-family: Arial, Helvetica, sans-serif;
     color: #3E3E3E;
    /* min-width: 0; */
    /* min-height: 100vh; */
    /* margin: 0 auto;
    display: flex;
    flex-direction: column; */
    /* width: 100%;
    margin: 0 auto; */
}

.page-wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

main {
    /* flex-grow: 1; */
    width: 100%;
}

@media (min-width: 640px) { 
    
}

@media (min-width: 1024px) {
    
}

@media (min-width: 1280px) {

}