.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 10rem;
}

.error-container::before {
    content: "";
    position: absolute;
    top: 3rem;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("/images/home/background.png");
    background-repeat: no-repeat;
    background-size: 30rem;
    background-position: top;
    opacity: .06;
    z-index: -1;
}

.title {
    font-size: 23px;
    font-weight: bold;
    margin-top: 2.4rem;
}

.description {
    font-size: 14px;
    line-height: 1.6;
    opacity: 0.85;
    margin-top: .5rem;
}

.actions {
    display: flex;
    gap: 1.2rem;
    margin: 1.8rem 0;
}

@media (min-width: 768px) {
    .error-container {
        margin-bottom: 16rem;
    }

    .error-container::before {
        top: 0;
        background-size: 45rem;
    }

    .title {
        font-size: 37px;
         margin-top: 3rem;
    }

    .description {
        font-size: 18px;
        margin-top: .7rem;
    }

    .actions {
        gap: 1.75rem;
        margin: 2.2rem 0;
    }
}