.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("/images/home/background.png");
    background-repeat: no-repeat;
    background-size: 45rem;
    background-position: top;
    opacity: .06;
    z-index: -1;
}

.title {
    font-size: 2.3rem;
    font-weight: bold;
    margin-top: 3rem;
}

.description {
    font-size: 1.1rem;
    line-height: 1.6;
    opacity: 0.85;
    margin-top: .5rem;
}

.actions {
    display: flex;
    gap: 1.75rem;
    margin: 2.2rem 0;
}