.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 1.5rem 0;
    position: relative;
}

.page-logo {
    position: relative;
    width: 100%;
    max-width: 120px;
    aspect-ratio: 895 / 391;
}

.personal-logo--animating {
    animation: logo-fly-to-menu 0.35s ease-out forwards;
}

@keyframes logo-fly-to-menu {
    0% {
        transform: translate(0, 0) scale(1);
        opacity: 1;
    }
    70% {
        transform: translate(-50px, 8px) scale(1.2);
        opacity: 1;
    }
    100% {
        transform: translate(-75px, 11px) scale(.9);
        opacity: 0;
    }
}

@media (min-width: 768px) {
    .page-logo {
        max-width: 200px;
    }
}