.section {
	width: 100%;
	margin: 0 auto;
}

.heading {
	font-size: 1.2rem;
	font-weight: 600;
	margin-bottom: .75rem;
    margin-left: calc(var(--arrow-size-mo) + var(--projects-wrapper-gap-mo));
}

.wrapper {
	position: relative;
	display: grid;
	grid-template-columns: auto 1fr auto;
	align-items: center;
	gap: var(--projects-wrapper-gap-mo);
}

.nav-button {
    display: grid;
	place-items: center;
    cursor: pointer;
}

.nav-button:disabled {
	opacity: .4;
	cursor: default;
	pointer-events: none;
}

.nav-left {}
.nav-right {}

.hidden {
	visibility: hidden;
	pointer-events: none;
}

.arrow-icon {
	color: var(--primary-color);
	font-size: var(--arrow-size-mo);
}

.scroll-container {
	overflow-x: auto;
	overflow-y: hidden;
	display: flex;
	gap: 1rem;
    margin: 0 1px;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
}

.scroll-container::-webkit-scrollbar { display: none; }
.scroll-container { -ms-overflow-style: none; scrollbar-width: none; }

.item {
	list-style: none;
	flex: 0 0 240px;
	width: 240px;
	scroll-snap-align: start;
}

.card {
    --img-opacity: 0.5;
    --img-scale: 1;
	display: block;
}

.card:hover,
.card:focus-visible {
  --img-opacity: 1;
  --img-scale: 1.03;
  cursor: pointer;
}

@media (min-width: 768px) {
	.heading {
		font-size: 1.5rem;
		margin-bottom: .75rem;
		margin-left: calc(var(--arrow-size-ta) + var(--projects-wrapper-gap-ta));
	}

	.wrapper {
		gap: var(--projects-wrapper-gap-ta);
	}

	.arrow-icon {
		font-size: var(--arrow-size-ta);
	}

    .item {
		flex: 0 0 320px;
		width: 320px;
	}
}