.skill-item-card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.donut-outer-border {
    fill: none;
    stroke: var(--primary-color);
    stroke-width: 2; 
}

.donut-background {
    fill: none;
    stroke: #fff;
}

.donut-inner-border {
    fill: none;
    stroke: var(--primary-color);
    stroke-width: 2;
}

.donut-progress {
    fill: none;
    stroke: var(--secondary-color);
    stroke-linecap: butt;
    transition: stroke-dashoffset 0.8s ease-out;
}

.center-content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 3rem;
    height: 3rem;
}

.skill-level {
    font-size: 10px;
    color: var(--primary-color);
    font-weight: 600;
}

@media (min-width: 768px) {
    .skill-item-card {
        margin: 15px;
    }

    .skill-level {
        font-size: 12px;
    }

    .center-content {
        top: 50%;
        transform: translate(-50%, -50%);
    }
}