.profile-inner {
    margin-top: 2.5rem;
}

.profile-header-section {
    display: flex;
}

.profile-image-wrap {
    border: 2px solid var(--primary-color);
    border-top-right-radius: 0;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    display: inline-flex;
    flex-shrink: 0;
    flex-grow: 0;
    line-height: 0;
    overflow: hidden;
}

.social-links-group {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin-left: .6rem;
}

.modal.ready {
    background: #fff;
    padding: 1rem;
    border-radius: 8px;
    width: 15rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 14px;
}

.modal-close.ready {
    margin-top: 1rem;
    padding: .3rem .7rem;
    border: none;
    background: var(--primary-color);
    color: #fff;
    border-radius: 6px;
} 

.profile-details-section {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: .2rem;
    font-size: 14px;
}

.detail-item {
    position: relative;
    padding-left: .8em;
}

.detail-item::before {
    content: "•";
    position: absolute;
    left: 0;
}

.email-group {
    display: flex;
}

.email-group .detail-item {
    margin-right: .8rem;
}

@media (min-width: 768px) {
    .social-links-group {
        margin-left: 3rem;
    }

    .modal.ready {
        padding: 1.5rem;
        width: 20rem;
        font-size: 16px;
    }

    .modal-close.ready {
        margin-top: 1.5rem;
        padding: .4rem 1rem;
    }

    .profile-details-section {
        margin-top: 2.5rem;
        gap: .4rem;
        font-size: 18px;
    }

    .detail-item {
        padding-left: 1em;
    }

    .email-group .detail-item {
        margin-right: 1rem;
    }
}